@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap");

* {
  font-family: "Tajawal", sans-serif;
}

.logo-icon img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-left: 1px;
}

/* .logoSidebar {
  width: 145px;
  height: 40px;
}
.logoSidebar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.textLogo {
}
